variable "name" {
  type        = string
  default     = "{{data["name"]}}"
  description = "Name to be assigned to all child resources. A suffix may be added internally when required. Use default value unless you need to install multiple instances"
}

variable "tags" {
  type        = map(string)
  description = "Default tag for resource"
  default = {
    product = "{{data["name"]}}"
  }
}

locals{
  CCS_member_account_id="{{data["deployment_member_account"]}}"
}


provider "aws" {
  alias  = "member"
  region = "{{data["region"]}}"
  assume_role {
    # 'OrganizationAccountAccessRole' is the default role created by AWS for managed-account users to be able to admin member accounts.
    # <br/>https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_access.html
    role_arn = "arn:aws:iam::${local.CCS_member_account_id}:role/OrganizationAccountAccessRole"
  }
}

module "cloud-scanner_example_organizational-deploy-with-member-account-read-only-access-creation" {
  providers = {
    aws.member = aws.member
  }
  source                        = "deepfence/cloud-scanner/aws//examples/organizational-deploy-with-member-account-read-only-access-creation"
  version                       = "0.6.0"
  name                          = var.name
  tags                          = var.tags
  # mgmt-console-url: deepfence.customer.com or 22.33.44.55
  mgmt-console-url              = "{{data["management_console_url"]}}"
  mgmt-console-port             = "443"
  deepfence-key                 = "{{data["deepfence_key"]}}"
  image                         = "quay.io/deepfenceio/cloud_scanner_ce:2.3.0"
  # Task CPU Units (Default: 8 vCPU)
  cpu                           = "8192"
  # Task Memory (Default: 16 GB)
  memory                        = "16384"
  # Task Ephemeral Storage (Default: 100 GB)
  ephemeral_storage             = "100"
  # Task role: Must be either arn:aws:iam::aws:policy/SecurityAudit or arn:aws:iam::aws:policy/ReadOnlyAccess
  task_role                     = "{{data["task_role"]}}"
  log_level                     = "info"
  deployed_account_id           = local.CCS_member_account_id
  # Use existing VPC (Optional)
  use_existing_vpc              = false
  # VPC ID (If use_existing_vpc is set to true)
  existing_vpc_id               = ""
  # List of VPC Subnet IDs (If use_existing_vpc is set to true)
  existing_vpc_subnet_ids       = []
  # Optional: To refresh the cloud resources every hour, provide CloudTrail Trail ARNs (Management events with write-only or read-write).
  # If empty, a trail with management events will be automatically chosen if available.
  # e.g.: ["arn:aws:cloudtrail:us-east-1:123456789012:trail/aws-events"]
  cloudtrail_trails             = []
}